

.hero {
    margin-left: 126px;
    margin-right: 126px;

}

.limitation-container{
  max-width: 1440px;
  margin: 0 auto;
}

.hero_image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}



.recipe_headlining {
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-top: 84px;
    margin-bottom: 32px;
}


.hero_icons {
    width: 16px;
    height: auto;
    padding-right: 16px;
}

h5 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: lighter;
    font-size: 18px;
}


.hero_infos {
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
}

.clock_icon_text {

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(239, 239, 239);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

    margin-right: 24px;
}

.brain_icon_text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(239, 239, 239);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

    margin-right: 24px;
}

.calendar_icon_text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(239, 239, 239);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

    margin-right: 24px;

}

.hero_line {
    width: 100%;
    height: 2px;

    margin-top: 84px;
    background-color: rgba(239, 239, 239);

}

/* Hier endet Hero Section */


.section_portions_ingredients {
    margin-left: 126px;
    margin-right: 126px;
}

.section_portions {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 16px;

}

.ingredients_for_text {
    margin-right: 16px;
}

#button {
    background-color: #008000;
    color: white;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    cursor: pointer;
    flex-grow: 0;
}

#amount {
    padding-left: 46px;
    padding-right: 84px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 10px 0 0 10px;
    border: 1px solid rgba(239, 239, 239);
    font-size: 16px;
    text-align: center;
}


#amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.section_ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    list-style: none;

}

.ing {
    padding-right: 16px;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ing_meta {
    display: flex;
    width: 100px;
    justify-content: flex-start;
}

.ing_text {
    flex: 1;
    color: black;
    font-weight: lighter;
}



.bg_grey {
    border-radius: 10px;
    background-color: rgba(239, 239, 239);
}

h3 {
    color: black;
    font-weight: lighter;
}


/* Hier endet section Portions und Ingredients */

.preparation_text {
    margin-top: 32px;
}

.text_numbers {
    font-weight: bold;
}

/* Hier endet section Article */

.section_profile {
    margin-bottom: 86px;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile_image_amas {
    width: 86px;
    height: 86px;
    object-fit: cover;
    border-radius: 50%;
}

.profile_name {
    margin-left: 32px;
    font-size: 24px;
}



@media(max-width:924px) {

    .hero_image {
        width: 100%;
        height: 250px;
    }

    .recipe_headlining {
        text-align: center;
    }

    .hero_infos {
        justify-content: space-evenly;
        margin-top: 32px;
    }


    .clock_icon_text {
        margin: 0;
    }

    .brain_icon_text {
        margin: 0;
    }

    .calendar_icon_text {
        margin: 0;
    }


    .section_portions {
        justify-content: center;
        align-items: center;
    }

    .ing_meta {
        justify-content: flex-end;
        margin-right: 32px;
        margin-left: 25%;
    }

    .ing_text {
        text-align: start;
    }

    .profile {
        justify-content: center;
    }

}

@media(max-width:800px) {

    .hero {
        margin-left: 64px;
        margin-right: 64px;
    }

    .hero_icons {
        width: 12px;
        height: auto;
        padding-right: 8px;
    }

    h5 {
        font-size: 12px;
    }

    .ingredients_for_text {
        font-size: 14px;
    }

    #amount {
        padding-left: 46px;
        padding-right: 46px;
    }

    .ing_meta {
        justify-content: flex-end;
        margin-right: 16px;
        margin-left: 20%;
    }

}

@media(max-width:676px) {

    .hero_image {
        width: 100%;
        height: 150px;
    }

    .section_portions_ingredients {
        margin-left: 64px;
        margin-right: 64px;
    }

}

@media(max-width:520px) {

    .hero {
        margin-left: 32px;
        margin-right: 32px;
    }

    .hero_image {
        width: 100%;
        height: 150px;
    }

    .section_portions_ingredients {
        margin-left: 32px;
        margin-right: 32px;
    }

    .recipe_headlining {
        font-size: 24px;
        margin-top: 46px;
    }


    .hero_line {
        margin-top: 46px;
    }

    .ingredients_for_text {
        font-size: 14px;
    }

    #amount {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #button {

        padding-left: 32px;
        padding-right: 32px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .ing_meta {
        justify-content: flex-end;
        margin-right: 16px;
        margin-left: 15%;
    }

    p {
        font-size: 14px;
    }

    .recipe_headlining {
        font-size: 18px;
    }

}



@media(max-width:404px) {

    .hero {
        margin-left: 8px;
        margin-right: 8px;
    }

    .hero_image {
        width: 100%;
        height: 124px;
    }

    .section_portions_ingredients {
        margin-left: 16px;
        margin-right: 16px;
    }

    .recipe_headlining {
        font-size: 24px;
    }


    .hero_line {
        margin-top: 46px;
    }

    .hero_icons {
        width: 10px;
        height: auto;
        padding-right: 4px;
    }

    .ingredients_for_text {
        font-size: 14px;
    }

    #amount {

        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #button {

        padding-left: 20px;
        padding-right: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .ing_meta {
        justify-content: flex-end;
        margin-right: 16px;
        margin-left: 4%;

    }

    p {
        font-size: 14px;
    }

    .recipe_headlining {
        font-size: 18px;
    }

        .hero_infos_2 {

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clock_icon_text{
        margin-bottom: 8px;
    }
    .brain_icon_text{
        margin-bottom: 8px;
    }

    .calendar_icon_text{
        margin-bottom: 8px;
    }

}

@media(max-width:330px) {
    .ing_meta {
        justify-content: center;
        margin-right: 16px;
        margin-left: 0;

    }
}